#MainImage{
    -fx-background-image: url("temporarybackground.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 650;
    -fx-background-position: bottom center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#title{
    -fx-background-image: url("Title.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: 400 150;
    -fx-background-position: top center;
}

#Vader{
    -fx-background-image: url("Vader.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: 400 363;
    -fx-background-position: center center;
}
#Finn{
    -fx-background-image: url("Finn.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: 500 206;
    -fx-background-position: center center;
}
#Luke{
    -fx-background-image: url("Luke.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: 360 240;
    -fx-background-position: center center;
}